main {
  background-image: url(https://s.pngkit.com/png/small/2-27883_christmas-lights-scrapbook-clip-art-christmas-cut-outs.png);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  margin: 1% 1%;
  border-radius: 10%;
}

section {
  /* width: 48%; */
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

img {
  /* width: 14vw; */
  /* height: 20vh; */
  width: 8vw;
  height: 10vw;
}

@media only screen and (width > 992px) {
  div {
    background-color: pink;
    opacity: 95%;
  }
}

@media only screen and (width <= 992px) {
  div {
    background-color: red;
    opacity: 95%;
  }
}

@media only screen and (width <= 768px) {
  div {
    background-color: teal;
    opacity: 95%;
  }
}

@media only screen and (width <= 576px) {
  div {
    background-color: blue;
    opacity: 95%;
  }
}

/* 
@media only screen and (width <= 576px) {
  div {
    border: 4px pink;
  }
  img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (width <= 992px) {
  div {
    border: 3px red;
  }
  img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (width <= 768px) {
  div {
    border: 2px teal;
  }
  img {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (width <= 576px) {
  div {
    border: 1px blue;
  }
  img {
    width: 50px;
    height: 50px;
  }
} */
